{% extends 'base/base_auth.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<main class="form-signin w-100 m-auto" style="max-width: 400px;">
    <form method="POST">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal text-center">Entrar</h1>
    
        <div class="form-floating mb-3">
            <input type="text" name="username" class="form-control" id="floatingInput" placeholder="name@example.com" required>
            <label for="floatingInput">Nome</label>
        </div>
        
        <div class="form-floating mb-3">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required>
            <label for="floatingPassword">Senha</label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Entrar</button>
    </form>

    <div class="text-center mt-3">
        <p>Não tem uma conta? <a href="{% url 'register' %}">Cadastre-se aqui</a></p>
    </div>
</main>

{% endblock %}
